<div id="container">
  <app-board [message]="message"></app-board>

  @if (fields) {
    <h1 [innerHTML]="data?.title || 'Create an account'"></h1>

    <app-form
      [fields]="fields"
      [disabled]="loading"
      (submit)="onSubmit($event)"
      submitButton="Register"
    >
      <ng-container actions>
        <button mat-raised-button (click)="login()">Login</button>
      </ng-container>
    </app-form>
  }

  <mat-spinner *ngIf="loading" strokeWidth="10" diameter="100"></mat-spinner>
</div>
